<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Appland Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
    .search {
      overflow: auto;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }

    .search input[type="text"] {
      border: 0px;
      width: 67%;
      padding: 10px 10px;
      margin-left: 60px;
    }

    .search input[type="text"]:focus {
      outline: 0;
    }

    .search input[type="submit"] {
      border: 0px;
      background: none;
      background-color: #CF5C3F;
      color: #fff;
      float: right;
      padding: 10px;
      border-radius-top-right: 5px;
      -moz-border-radius-top-right: 5px;
      -webkit-border-radius-top-right: 5px;
      border-radius-bottom-right: 5px;
      -moz-border-radius-bottom-right: 5px;
      -webkit-border-radius-bottom-right: 5px;
      cursor: pointer;
    }

    /* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

    @media only screen and (min-width : 150px) and (max-width : 780px) {
        {}

      .search {
        width: 95%;
        margin: 0 auto;
      }

    }
  </style>
  <!-- =======================================================
  * Template Name: Appland - v4.2.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body oncontextmenu="return false">

  <!-- ======= Header ======= -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- End Hero -->

  <main id="main">

    <!-- ======= App Features Section ======= -->
    <!-- End App Features Section -->

    <!-- ======= Details Section ======= -->
    <!-- End Details Section -->

    <!-- ======= Gallery Section ======= -->
    <!-- End Gallery Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <h2><b>OXYGEN</b></h2>
          <p>Find the resources that provides Oxygen Cylinder.</p>
        </div>

        <div class="accordion-list">
          <!-- <input type="text" id="myInput" placeholder="search" onkeyup="searchname()"> -->
          <div class="search">
            <form class="search-form">
              <input type="text" id="myInput" placeholder="Search " onkeyup="searchname()">
              <!-- <input type="submit" value="Submit"> -->
            </form>
            <br>
          </div>

          <div class="accordion-list">
            <ul id="myul">
              <li data-aos="fade-up">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse" class="collapse"
                  data-bs-target="#accordion-list-1">Refill - Kalyani [varified at: 12/5/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Address:<b>Kalyani</b>
                    <br><a href="tel:9433394461"><i class="bi bi-telephone-fill"></i>&nbsp<b>9433394461</b>
                      </a>
                    <!-- <a href="sms://9433394461"><i class="bi bi-chat-fill"></i></a> -->
           
                 </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-2" class="collapsed">Refill- Jadavpur [varified at: 12/5/21, 5.10
                  pm]<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Jadavpur</b>
                    <br>
                    <a href="tel:9878847715"><i class="bi bi-telephone-fill"></i>&nbsp<b>9878847715</b>
                    </a>
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-3" class="collapsed">Refill- Katwa [varified at: 12/5/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Katwa</b>
                    <br>
                    <a href="tel:9434311962"><i class="bi bi-telephone-fill"></i>&nbsp<b>9434311962</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-4" class="collapsed">Refill Baguighati/Nagerbazar [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Baguighati/Nagerbazar</b>
                    <br>
                    <a href="tel:9674371978"><i class="bi bi-telephone-fill"></i>&nbsp<b>9674371978</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-5" class="collapsed">Rifill Barasat [varified at: 12/5/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Barasat</b>
                    <br>
                    <a href="tel:9434311962"><i class="bi bi-telephone-fill"></i>&nbsp<b>9748751456</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-6" class="collapsed">cylinder - Asansol [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Asansol</b>
                    <br>
                    <a href="tel:9558807674"><i class="bi bi-telephone-fill"></i>&nbsp<b>9558807674</b>
                    </a>
                    </p>
                  
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-7" class="collapsed">Nandini Medical [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-7" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Kharagpur</b>
                    <br>
                    <a href="tel:9064256818"><i class="bi bi-telephone-fill"></i>&nbsp<b>9064256818</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-8" class="collapsed">Bilas Suvodip [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-8" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Behala</b>
                    <br>
                    <a href="tel:9007882261"><i class="bi bi-telephone-fill"></i>&nbsp<b>9007882261</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-9" class="collapsed">Refill - Garia [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-9" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Garia</b>
                    <br>
                    <a href="tel:9874165254"><i class="bi bi-telephone-fill"></i>&nbsp<b>9874165254</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-10" class="collapsed">Krishnanagar [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-10" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Krishnanagar</b>
                    <br>
                    <a href="tel:8617076435"><i class="bi bi-telephone-fill"></i>&nbsp<b>8617076435</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-11" class="collapsed">Refill Baguighati/Nagerbazar [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-11" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Katwa</b>
                    <br>
                    <a href="tel:9434311962"><i class="bi bi-telephone-fill"></i>&nbsp<b>9434311962</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-12" class="collapsed">Tollygunge [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-12" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Tollygunge</b>
                    <br>
                    <a href="tel:9933037855"><i class="bi bi-telephone-fill"></i>&nbsp<b>9933037855</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-13" class="collapsed">Dumdum [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-13" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Dumdum</b>
                    <br>
                    <a href="tel:7003656667"><i class="bi bi-telephone-fill"></i>&nbsp<b>7003656667</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-14" class="collapsed">Rohit jain [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-14" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Bandel, Hoogly</b>
                    <br>
                    <a href="tel:7003135913"><i class="bi bi-telephone-fill"></i>&nbsp<b>7003135913</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-15" class="collapsed">Tutun Karmakar [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-15" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Kolkata</b>
                    <br>
                    <a href="tel:9831067413"><i class="bi bi-telephone-fill"></i>&nbsp<b>9831067413</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-16" class="collapsed">Kosba Oxygen[varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-16" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Kosba, Kolkata</b>
                    <br>
                    <a href="tel:8910009747"><i class="bi bi-telephone-fill"></i>&nbsp<b>8910009747</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-17" class="collapsed">Salt Lake [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-17" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Salt Lake, Kolkata</b>
                    <br>
                    <a href="tel:7003317392"><i class="bi bi-telephone-fill"></i>&nbsp<b>7003317392</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-18" class="collapsed">Belgharia Oxygen [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-18" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Belgharia</b>
                    <br>
                    <a href="tel:8240358572"><i class="bi bi-telephone-fill"></i>&nbsp<b>8240358572</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-19" class="collapsed">Uttarpara Oxygen [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-19" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Uttarpara</b>
                    <br>
                    <a href="tel:7947359645"><i class="bi bi-telephone-fill"></i>&nbsp<b>7947359645</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-20" class="collapsed">Kalighat Kundu Oxygen Refill [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-20" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Kalighat, Kolkata</b>
                    <br>
                    <a href="tel:9830067018"><i class="bi bi-telephone-fill"></i>&nbsp<b>9830067018</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-21" class="collapsed">Kalyani [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-21" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Kalyani</b>
                    <br>
                    <a href="tel:7003687793"><i class="bi bi-telephone-fill"></i>&nbsp<b>7003687793</b>
                    </a>
                    </p>
                </div>
              </li>

            </ul>
          </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- <div class="footer-top">
      <div class="container">
        <div class="">

          <div class="container">
            <div class="footer-info">
              <h3>Medicio</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links"> -->

    </div>
    </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Medicio</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medicio-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <!-- searchbar Main JS File -->
  <script>

    const searchname = () => {
      let filter = document.getElementById('myInput').value.toUpperCase();
      let ul = document.getElementById('myul');
      let li = ul.getElementsByTagName('li');

      for (var i = 0; i < li.length; i++) {
        let a = li[i].getElementsByTagName('a')[0];

        let textvalue = a.textContent || a.innerHTML;
        if (textvalue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = '';
        } else {
          li[i].style.display = 'none';
        }
      }
    }

  </script>
</body>

</html>