<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Appland Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
    .search {
      overflow: auto;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }

    .search input[type="text"] {
      border: 0px;
      width: 67%;
      padding: 10px 10px;
      margin-left: 60px;
    }

    .search input[type="text"]:focus {
      outline: 0;
    }

    .search input[type="submit"] {
      border: 0px;
      background: none;
      background-color: #CF5C3F;
      color: #fff;
      float: right;
      padding: 10px;
      border-radius-top-right: 5px;
      -moz-border-radius-top-right: 5px;
      -webkit-border-radius-top-right: 5px;
      border-radius-bottom-right: 5px;
      -moz-border-radius-bottom-right: 5px;
      -webkit-border-radius-bottom-right: 5px;
      cursor: pointer;
    }

    /* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

    @media only screen and (min-width : 150px) and (max-width : 780px) {
        {}

      .search {
        width: 95%;
        margin: 0 auto;
      }

    }
  </style>
  <!-- =======================================================
  * Template Name: Appland - v4.2.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body oncontextmenu="return false">

  <!-- ======= Header ======= -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- End Hero -->

  <main id="main">

    <!-- ======= App Features Section ======= -->
    <!-- End App Features Section -->

    <!-- ======= Details Section ======= -->
    <!-- End Details Section -->

    <!-- ======= Gallery Section ======= -->
    <!-- End Gallery Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <h2><b>AVAILABLE BEDS</b></h2>
          <p>Find other services such as mental health counselling, and post-death arrangement.</p>
        </div>

        <div class="accordion-list">
          <!-- <input type="text" id="myInput" placeholder="search" onkeyup="searchname()"> -->
          <div class="search">
            <form class="search-form">
              <input type="text" id="myInput" placeholder="Search " onkeyup="searchname()">
              <!-- <input type="submit" value="Submit"> -->
            </form>
            <br>
          </div>

          <div class="accordion-list">
            <ul id="myul">
              <li data-aos="fade-up">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse" class="collapse"
                  data-bs-target="#accordion-list-1">CHARNOCK [varified at: 27/4/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Address:<b>KOLKATA</b>
                    <br><a href="tel:03340500500"><i class="bi bi-telephone-fill"></i>&nbsp<b>03340500500</b>
                      </a>
                    <!-- <a href="sms://9433394461"><i class="bi bi-chat-fill"></i></a> -->
           
                 </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-2" class="collapsed">FORTIS HOSPITAL [varified at: 12/5/21, 5.10
                  pm]<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>SOUTH KOLKATA</b>
                    <br>
                    <a href="tel:03366284444"><i class="bi bi-telephone-fill"></i>&nbsp<b>03366284444</b>
                    </a>
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-3" class="collapsed">PEERLESS HOSPITAL [varified at: 12/5/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>SOUTH KOLKATA</b>
                    <br>
                    <a href="tel:03340111222"><i class="bi bi-telephone-fill"></i>&nbsp<b>03340111222</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-4" class="collapsed">WOODLANDS HOSPITAL [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>KOLKATA</b>
                    <br>
                    <a href="tel:03324567075"><i class="bi bi-telephone-fill"></i>&nbsp<b>03324567075</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-5" class="collapsed">RN TAGORE [varified at: 12/5/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>SOUTH KOLKATA</b>
                    <br>
                    <a href="tel:9903335544"><i class="bi bi-telephone-fill"></i>&nbsp<b>9903335544</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-6" class="collapsed">APEX HOSPITAL [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>SANTOSHPUR, KOLKATA</b>
                    <br>
                    <a href="tel:03371256666"><i class="bi bi-telephone-fill"></i>&nbsp<b>03371256666</b>
                    </a>
                    </p>
                  
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-7" class="collapsed">ID & BG HOSPITAL [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-7" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>KOLKATA</b>
                    <br>
                    <a href="tel:03323032277"><i class="bi bi-telephone-fill"></i>&nbsp<b>03323032277</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-8" class="collapsed">KPC MEDICAL COLLEGE [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-8" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>JADAVPUR</b>
                    <br>
                    <a href="tel:9836695101"><i class="bi bi-telephone-fill"></i>&nbsp<b>9836695101</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-9" class="collapsed">AMRI SALTLAKE [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-9" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>SALTLAKE</b>
                    <br>
                    <a href="tel:033660636800"><i class="bi bi-telephone-fill"></i>&nbsp<b>033660636800</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-10" class="collapsed">KOLKATA MEDICAL COLLEGE [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-10" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>COLLEGE STREET</b>
                    <br>
                    <a href="tel:03322551621"><i class="bi bi-telephone-fill"></i>&nbsp<b>03322551621</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-11" class="collapsed">KS ROY TB HOSPITAL [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-11" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>KOLKATA</b>
                    <br>
                    <a href="tel:03324122202"><i class="bi bi-telephone-fill"></i>&nbsp<b>03324122202</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-12" class="collapsed">MR BANGUR DH & SSH [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-12" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Tollygunge</b>
                    <br>
                    <a href="tel:6390648755"><i class="bi bi-telephone-fill"></i>&nbsp<b>6390648755</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-13" class="collapsed">DESUN HOSPITAL [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-13" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>RUBY MORE</b>
                    <br>
                    <a href="tel:9051715171"><i class="bi bi-telephone-fill"></i>&nbsp<b>9051715171</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-14" class="collapsed">CALCUTTA MEDICAL RESEARCH INSTITUTE [CMRI] [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-14" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>KOLKATA</b>
                    <br>
                    <a href="tel:03340904090"><i class="bi bi-telephone-fill"></i>&nbsp<b>033 4090 4090</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-15" class="collapsed">AMRI DHAKURIA [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-15" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>DHAKURIA</b>
                    <br>
                    <a href="tel:03366800000"><i class="bi bi-telephone-fill"></i>&nbsp<b>033 6680 0000</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-16" class="collapsed">CHARNOCK HOSPITAL [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-16" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>BMC 195, Biswa Bangla Sarani, Tegharia, Newtown, Kolkata, West Bengal 700157</b>
                    <br>
                    <a href="tel:03340500500"><i class="bi bi-telephone-fill"></i>&nbsp<b>033 4050 0500</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-17" class="collapsed">SUBHAYANI HOSPITAL [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-17" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>SODEPUR</b>
                    <br>
                    <a href="tel:9903002808"><i class="bi bi-telephone-fill"></i>&nbsp<b>9903002808</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-18" class="collapsed">NARAYANA HEALTH CARE [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-18" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>KOLKATA</b>
                    <br>
                    <a href="tel:8067506860"><i class="bi bi-telephone-fill"></i>&nbsp<b>8067506860</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-19" class="collapsed">DESUN HOSPITAL [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-19" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>KOLKATA</b>
                    <br>
                    <a href="tel:9051715171"><i class="bi bi-telephone-fill"></i>&nbsp<b>9051715171</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-20" class="collapsed">KOLKATA MEDICAL COLLEGE [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-20" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>88, College St, Calcutta Medical College, College Square, Kolkata, West Bengal 700073</b>
                    <br>
                    <a href="tel:03322551621"><i class="bi bi-telephone-fill"></i>&nbsp<b>033 2255 1621</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-21" class="collapsed">R.G. KAR [varified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-21" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>1, Khudiram Bose Sarani, Bidhan Sarani, Shyam Bazar, Kolkata, West Bengal 700004</b>
                    <br>
                    <a href="tel:03325557676"><i class="bi bi-telephone-fill"></i>&nbsp<b>033 2555 7676/033 2530 4557</b>
                    </a>
                    </p>
                </div>
              </li>

            </ul>
          </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- <div class="footer-top">
      <div class="container">
        <div class="">

          <div class="container">
            <div class="footer-info">
              <h3>Medicio</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links"> -->

    </div>
    </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Medicio</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medicio-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <!-- searchbar Main JS File -->
  <script>

    const searchname = () => {
      let filter = document.getElementById('myInput').value.toUpperCase();
      let ul = document.getElementById('myul');
      let li = ul.getElementsByTagName('li');

      for (var i = 0; i < li.length; i++) {
        let a = li[i].getElementsByTagName('a')[0];

        let textvalue = a.textContent || a.innerHTML;
        if (textvalue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = '';
        } else {
          li[i].style.display = 'none';
        }
      }
    }

  </script>
</body>

</html>