<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Appland Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
    .search {
      overflow: auto;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }

    .search input[type="text"] {
      border: 0px;
      width: 67%;
      padding: 10px 10px;
      margin-left: 60px;
    }

    .search input[type="text"]:focus {
      outline: 0;
    }

    .search input[type="submit"] {
      border: 0px;
      background: none;
      background-color: #CF5C3F;
      color: #fff;
      float: right;
      padding: 10px;
      border-radius-top-right: 5px;
      -moz-border-radius-top-right: 5px;
      -webkit-border-radius-top-right: 5px;
      border-radius-bottom-right: 5px;
      -moz-border-radius-bottom-right: 5px;
      -webkit-border-radius-bottom-right: 5px;
      cursor: pointer;
    }

    /* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

    @media only screen and (min-width : 150px) and (max-width : 780px) {
        {}

      .search {
        width: 95%;
        margin: 0 auto;
      }

    }
  </style>
  <!-- =======================================================
  * Template Name: Appland - v4.2.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body oncontextmenu="return false">

  <!-- ======= Header ======= -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- End Hero -->

  <main id="main">

    <!-- ======= App Features Section ======= -->
    <!-- End App Features Section -->

    <!-- ======= Details Section ======= -->
    <!-- End Details Section -->

    <!-- ======= Gallery Section ======= -->
    <!-- End Gallery Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <h2><b>MEAL Services</b></h2>
          <p>Find the Meal Services that deliver Meals.</p>
        </div>

        <div class="accordion-list">
          <!-- <input type="text" id="myInput" placeholder="search" onkeyup="searchname()"> -->
          <div class="search">
            <form class="search-form">
              <input type="text" id="myInput" placeholder="Search " onkeyup="searchname()">
              <!-- <input type="submit" value="Submit"> -->
            </form>
            <br>
          </div>

          <div class="accordion-list">
            <ul id="myul">
              <li data-aos="fade-up">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse" class="collapse"
                  data-bs-target="#accordion-list-1">Mom's Kitchen (Singur, Nasibpur, Kamarkundu, Mirzapur) [verified at: 12/5/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Address:<b>Singur, Nasibpur, Kamarkundu, Mirzapur</b>
                    <br><a href="tel:9088226296"><i class="bi bi-telephone-fill"></i>&nbsp<b>9088226296</b>
                      </a>
                    <!-- <a href="sms://9433394461"><i class="bi bi-chat-fill"></i></a> -->
           
                 </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-2" class="collapsed">Timir Dutta Chowdhury (Sodepur)  [verified at: 12/5/21, 5.10
                  pm]<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Sodepur</b>
                    <br>
                    <a href="tel:9830237797"><i class="bi bi-telephone-fill"></i>&nbsp<b>9830237797, 9830200860, 7890830905</b>
                    </a>
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-3" class="collapsed">Goopy Gyne Bagha Byne (Palta) [verified at: 12/5/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Palta</b>
                    <br>
                    <a href="tel:8100611018"><i class="bi bi-telephone-fill"></i>&nbsp<b>8100611018, 9007098293</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-4" class="collapsed">Cooked With Care (All across Kolkata) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>All across Kolkata</b>
                    <br>
                    <a href="tel:9007640487"><i class="bi bi-telephone-fill"></i>&nbsp<b>9007640487, 8910480551, 9331110327</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-5" class="collapsed">Dipanjan Das (Jadavpur, Naktala, Ramgarh) [verified at: 12/5/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Jadavpur, Naktala, Ramgarh</b>
                    <br>
                    <a href="tel:9231681498"><i class="bi bi-telephone-fill"></i>&nbsp<b>9231681498</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-6" class="collapsed">Asmita and Anurag (Behala, Tollygunge, Golfgreen, Lake Gardens, Jodhpur Park and adjoining areas) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Behala, Tollygunge, Golfgreen, Lake Gardens</b>
                    <br>
                    <a href="tel:8482055025"><i class="bi bi-telephone-fill"></i>&nbsp<b>8482055025, 9748640219</b>
                    </a>
                    </p>
                  
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-7" class="collapsed">Srabasti Ghosh(Baghbazar, Sovabazar, Hatibagan, Ahiritola, Khanna and Ultadanga)  [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-7" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Baghbazar, Sovabazar, Hatibagan, Ahiritola, Khanna and Ultadanga</b>
                    <br>
                    <a href="tel:8902703686"><i class="bi bi-telephone-fill"></i>&nbsp<b>8902703686</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-8" class="collapsed">Meera Batra (Airport, Saltlake, Ultadanga) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-8" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Airport, Saltlake, Ultadanga</b>
                    <br>
                    <a href="tel:8240658223"><i class="bi bi-telephone-fill"></i>&nbsp<b>8240658223</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-9" class="collapsed">Harsh and Ankur (New Alipore, Chetla, Tollygunge, Kalighat, Haridevpur and Behala) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-9" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>New Alipore, Chetla, Tollygunge, Kalighat, Haridevpur</b>
                    <br>
                    <a href="tel:8697449350"><i class="bi bi-telephone-fill"></i>&nbsp<b>8697449350, 9811560561</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-10" class="collapsed">Friends Cafe (Barasat) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-10" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Barasat</b>
                    <br>
                    <a href="tel:8017573223"><i class="bi bi-telephone-fill"></i>&nbsp<b>8017573223</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-11" class="collapsed">Heshel (Kamarhati and adjoining areas) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-11" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Kamarhati and adjoining areas</b>
                    <br>
                    <a href="tel:9674953080"><i class="bi bi-telephone-fill"></i>&nbsp<b>9674953080</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-12" class="collapsed">Mum Cooks Yum(Chandannagar, Bhadreshwar) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-12" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Chandannagar, Bhadreshwar</b>
                    <br>
                    <a href="tel:8697662386"><i class="bi bi-telephone-fill"></i>&nbsp<b>8697662386</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-13" class="collapsed">he Lady with a Ladle (Chinsurah) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-13" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Chinsurah</b>
                    <br>
                    <a href="tel:9051259157"><i class="bi bi-telephone-fill"></i>&nbsp<b>9051259157</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-14" class="collapsed">Subhra Mukherjee (Barasat and Hridaypur) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-14" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Barasat and Hridaypur</b>
                    <br>
                    <a href="tel:9143156680"><i class="bi bi-telephone-fill"></i>&nbsp<b>9143156680, 8902105897</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-15" class="collapsed">Community Kitchen (Ichapur)  [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-15" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Ichapur</b>
                    <br>
                    <a href="tel:7604024296"><i class="bi bi-telephone-fill"></i>&nbsp<b>7604024296</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-16" class="collapsed">Ghar Ki Rasoi (Saltlake)[verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-16" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Saltlake, Kolkata</b>
                    <br>
                    <a href="tel:9051919191"><i class="bi bi-telephone-fill"></i>&nbsp<b>9051919191, 9874987724</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-17" class="collapsed">Annapurna Kitchen (Airport to Kakurgachi)[verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-17" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Airport to Kakurgachi</b>
                    <br>
                    <a href="tel:6290313657"><i class="bi bi-telephone-fill"></i>&nbsp<b>6290313657</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-18" class="collapsed">Unnati Kitchen (Laketown) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-18" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Laketown</b>
                    <br>
                    <a href="tel:9830610008"><i class="bi bi-telephone-fill"></i>&nbsp<b>9830610008</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-19" class="collapsed">Sramjibi Canteen (Jadavpur)[verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-19" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Jadavpur</b>
                    <br>
                    <a href="tel:9748434309"><i class="bi bi-telephone-fill"></i>&nbsp<b>9748434309</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-20" class="collapsed">Quaranteam (Asansol, Burnpur) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-20" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Asansol, Burnpur</b>
                    <br>
                    <a href="tel:7001533079"><i class="bi bi-telephone-fill"></i>&nbsp<b>7001533079</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-21" class="collapsed">Asansol Chivalry (Asansol to Chirkunda) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-21" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Asansol to Chirkunda</b>
                    <br>
                    <a href="tel:7384467390"><i class="bi bi-telephone-fill"></i>&nbsp<b>7384467390, 9831007184</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-22" class="collapsed">Khao by Ritik Lal (Barrackpore) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-22" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Barrackpore</b>
                    <br>
                    <a href="tel:6291530266"><i class="bi bi-telephone-fill"></i>&nbsp<b>6291530266</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-23" class="collapsed">Suvadip (Durgapur)[verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-23" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Durgapur</b>
                    <br>
                    <a href="tel:9800156933"><i class="bi bi-telephone-fill"></i>&nbsp<b>9800156933</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-24" class="collapsed">Prerona (Bally, Belur, Uttarpara)[verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-24" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Bally, Belur, Uttarpara</b>
                    <br>
                    <a href="tel:8981647729"><i class="bi bi-telephone-fill"></i>&nbsp<b>8981647729, 8013611098</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-25" class="collapsed">Soma Biswas (Konnagar)[verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-25" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Konnagar</b>
                    <br>
                    <a href="tel:6291213364"><i class="bi bi-telephone-fill"></i>&nbsp<b>6291213364</b>
                    </a>
                    </p>
                </div>
              </li>

            </ul>
          </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- <div class="footer-top">
      <div class="container">
        <div class="">

          <div class="container">
            <div class="footer-info">
              <h3>Medicio</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links"> -->

    </div>
    </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Medicio</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medicio-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <!-- searchbar Main JS File -->
  <script>

    const searchname = () => {
      let filter = document.getElementById('myInput').value.toUpperCase();
      let ul = document.getElementById('myul');
      let li = ul.getElementsByTagName('li');

      for (var i = 0; i < li.length; i++) {
        let a = li[i].getElementsByTagName('a')[0];

        let textvalue = a.textContent || a.innerHTML;
        if (textvalue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = '';
        } else {
          li[i].style.display = 'none';
        }
      }
    }

  </script>
</body>

</html>