<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kolkata COVID-19 Resource</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo-png.png" rel="icon">
  <link href="assets/img/logo-png.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
    .search {
      overflow: auto;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }

    .search input[type="text"] {
      border: 0px;
      width: 67%;
      padding: 10px 10px;
      margin-left: 60px;
    }

    .search input[type="text"]:focus {
      outline: 0;
    }

    .search input[type="submit"] {
      border: 0px;
      background: none;
      background-color: #CF5C3F;
      color: #fff;
      float: right;
      padding: 10px;
      border-radius-top-right: 5px;
      -moz-border-radius-top-right: 5px;
      -webkit-border-radius-top-right: 5px;
      border-radius-bottom-right: 5px;
      -moz-border-radius-bottom-right: 5px;
      -webkit-border-radius-bottom-right: 5px;
      cursor: pointer;
    }

    /* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

    @media only screen and (min-width : 150px) and (max-width : 780px) {
        {}

      .search {
        width: 95%;
        margin: 0 auto;
      }

    }
  </style>
  <!-- =======================================================
  * Template Name: Appland - v4.2.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body oncontextmenu="return false">

  <!-- ======= Header ======= -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- End Hero -->

  <main id="main">

    <!-- ======= App Features Section ======= -->
    <!-- End App Features Section -->

    <!-- ======= Details Section ======= -->
    <!-- End Details Section -->

    <!-- ======= Gallery Section ======= -->
    <!-- End Gallery Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <h2><b>AMBULANCE</b></h2>
          <p>Find the resources that provides AMBULANCE.</p>
        </div>

        <div class="accordion-list">
          <!-- <input type="text" id="myInput" placeholder="search" onkeyup="searchname()"> -->
          <div class="search">
            <form class="search-form">
              <input type="text" id="myInput" placeholder="Search " onkeyup="searchname()">
              <!-- <input type="submit" value="Submit"> -->
            </form>
            <br>
          </div>

          <div class="accordion-list">
            <ul id="myul">
              <li data-aos="fade-up">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse" class="collapse"
                  data-bs-target="#accordion-list-1">Poddar Ambulance Service (near Bypass Dhaba) [verified at: 12/5/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Contact no.
                    <br><a href="tel:7003456588"><i class="bi bi-telephone-fill"></i>&nbsp<b>7003456588</b>
                      </a>
                    <!-- <a href="sms://9433394461"><i class="bi bi-chat-fill"></i></a> -->
           
                 </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-2" class="collapsed">Raju Ghosh (Durgapur) [verified at: 12/5/21, 5.10
                  pm]<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Contact no.
                    <br>
                    <a href="tel:07679761578"><i class="bi bi-telephone-fill"></i>&nbsp<b>07679761578</b>
                    </a>
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-3" class="collapsed">Meera Seva Welfare Society (near Naktala, available till 8PM)[verified at: 12/5/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:07947405072"><i class="bi bi-telephone-fill"></i>&nbsp<b>07947405072</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-4" class="collapsed">Amjad (Howrah, Kolkata) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Contact no.
                    <br>
                    <a href="tel:9875686693"><i class="bi bi-telephone-fill"></i>&nbsp<b>9875686693</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-5" class="collapsed">Maa Radhika Ambulance Service (Howrah, Shibpur Kolkata) [verified at: 12/5/21, 5.10 pm] <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Address: <b>Barasat</b>
                    <br>
                    <a href="tel:8017892030"><i class="bi bi-telephone-fill"></i>&nbsp<b>8017892030</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-6" class="collapsed">Samrat Ambulance (Burdwan, lead submitted by Speed)(With oxygen facility) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Contact no.
                    <br>
                    <a href="tel:9332100209"><i class="bi bi-telephone-fill"></i>&nbsp<b>9332100209</b>
                    </a>
                    </p>
                  
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-7" class="collapsed">Burama Ambulance (Balurghat, lead submitted by Sujit Sarkar) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-7" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:917947135277"><i class="bi bi-telephone-fill"></i>&nbsp<b>917947135277</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-8" class="collapsed">Ambulance (District Hospital of Dakshin Dinajpur) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-8" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:03522255288"><i class="bi bi-telephone-fill"></i>&nbsp<b>03522255288</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-9" class="collapsed">Hindustan Ambulance(Kolkata) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-9" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:9836909839"><i class="bi bi-telephone-fill"></i>&nbsp<b>9836909839</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-10" class="collapsed">EMSIS Ambulance[kolkata] [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-10" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:7679599426"><i class="bi bi-telephone-fill"></i>&nbsp<b>7679599426</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-11" class="collapsed">Ambulance(Bidhannagar) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-11" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:03340902929"><i class="bi bi-telephone-fill"></i>&nbsp<b>03340902929</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-12" class="collapsed">Narayan Ambulance(Tollygunge) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-12" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:9163635162"><i class="bi bi-telephone-fill"></i>&nbsp<b>9163635162</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-13" class="collapsed">The Golden Hour Ambulance(Kalighat) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-13" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:9831444428"><i class="bi bi-telephone-fill"></i>&nbsp<b>9831444428</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-14" class="collapsed">Kolkata Govt Services(Ambulance) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-14" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:03322197202"><i class="bi bi-telephone-fill"></i>&nbsp<b>03322197202</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-15" class="collapsed">Meera Seva(kolkata) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-15" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:974814324"><i class="bi bi-telephone-fill"></i>&nbsp<b>974814324</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-16" class="collapsed">Amit Ambulance and Home Care (Kolkata)[verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-16" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:7947239147"><i class="bi bi-telephone-fill"></i>&nbsp<b>7947239147</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-17" class="collapsed">AMRI Hospital [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-17" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:7947407347"><i class="bi bi-telephone-fill"></i>&nbsp<b>7947407347</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-18" class="collapsed">Babai Ambulance [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-18" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:7947407148"><i class="bi bi-telephone-fill"></i>&nbsp<b>7947407148</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-19" class="collapsed">Harinavi Ambulance(kolkata) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-19" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:9830601342"><i class="bi bi-telephone-fill"></i>&nbsp<b>9830601342</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-20" class="collapsed">Janaseva Ambulance(kolkata) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-20" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:7947405060"><i class="bi bi-telephone-fill"></i>&nbsp<b>7947405060</b>
                    </a>
                    </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-check-circle icon-help" style="color:green"></i> <a data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-21" class="collapsed">St. John Ambulance(Kolkata) [verified at:
                  12/5/21, 5.10 pm] <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-21" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                     Contact no.
                    <br>
                    <a href="tel:9433340785"><i class="bi bi-telephone-fill"></i>&nbsp<b>9433340785</b>
                    </a>
                    </p>
                </div>
              </li>

            </ul>
          </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- <div class="footer-top">
      <div class="container">
        <div class="">

          <div class="container">
            <div class="footer-info">
              <h3>Medicio</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links"> -->

    </div>
    </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>SURAKSHA[2021-2022]</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medicio-free-bootstrap-theme/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <!-- searchbar Main JS File -->
  <script>

    const searchname = () => {
      let filter = document.getElementById('myInput').value.toUpperCase();
      let ul = document.getElementById('myul');
      let li = ul.getElementsByTagName('li');

      for (var i = 0; i < li.length; i++) {
        let a = li[i].getElementsByTagName('a')[0];

        let textvalue = a.textContent || a.innerHTML;
        if (textvalue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = '';
        } else {
          li[i].style.display = 'none';
        }
      }
    }

  </script>
</body>

</html>